image: docker:latest

services:
- docker:dind

variables:
  SONAR_SCANNER_VERSION: 3.0.3.778

stages:
  - build
  - test
  - analyse
  - package

build:composer:
  image: php:7.1
  stage: build
  script:
  - apt-get update -yqq
  - apt-get install git zlib1g-dev -yqq
  - docker-php-ext-install zip
  - curl -sS https://getcomposer.org/installer | php
  - mv composer.phar /usr/local/bin/composer
  - composer install -o
  artifacts:
    paths:
    - vendor/
    expire_in: 1 hour
  cache:
    paths:
    - vendor/


test:lint:
  image: php:7.1
  stage: test
  script:
  - php -l
  dependencies:
  - build:composer

test:phpunit:
  image: php:7.1
  stage: test
  script:
  - pecl install xdebug
  - docker-php-ext-enable xdebug
  - ./vendor/bin/phpunit
  artifacts:
    paths:
    - build/coverage/
    expire_in: 1 hour
  dependencies:
  - build:composer

test:php7cc:
  image: cwreden/php7cc-docker
  stage: test
  script:
  - php7cc -o json . >> scan.json
  artifacts:
    path:
    - scan.json
    expire_in: 1 hour
  dependencies:
  - build:composer


analyse:sonarqube:
  image: java:openjdk-8u111-jre
  stage: analyse
  script:
  - wget https://sonarsource.bintray.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-$SONAR_SCANNER_VERSION-linux.zip
  - unzip sonar-scanner-cli-$SONAR_SCANNER_VERSION-linux.zip
  - rm sonar-scanner-cli-$SONAR_SCANNER_VERSION-linux.zip
  - mv sonar-scanner-$SONAR_SCANNER_VERSION-linux /opt/sonar-scanner
  - /opt/sonar-scanner/bin/sonar-scanner -Dsonar.host.url=$SONAR_URL -Dsonar.login=$SONAR_TOKEN
  only:
    - master
  dependencies:
  - test:phpunit
