language: php

sudo: required
dist: precise

cache:
  directories:
  - "$HOME/.composer/cache"

php:
- 7.1

env:
- COMPOSER_FLAGS="--prefer-lowest"
- COMPOSER_FLAGS=""

before_install:
- travis_retry composer self-update

install:
- composer update $COMPOSER_FLAGS --no-interaction

script:
- vendor/bin/phpunit

after_script:
- if [[ $COMPOSER_FLAGS != '--prefer-lowest' ]]; then wget https://scrutinizer-ci.com/ocular.phar;
  php ocular.phar code-coverage:upload --format=php-clover build/coverage/clover.xml;
  fi

before_deploy:
- curl -LSs https://box-project.github.io/box2/installer.php | php
- box build

deploy:
  provider: releases
  api_key:
    secure: A3E5nymejjewTcrKUi6WciyIpi/2PrycAaIuhuETytcHJl4x2xQFJjb2nRnZ2uzIcPgjR4hx4Q2ov9AZEihEfcfbtYaPJHVHKOUj/wwBeaTEUY4KEFK1BneqJYD44ghui8t/CmwHEMNtQiQRFpNl3YWl9zVbBvwDIW/7af3+4bFnkydUhXeDyfyM4sYb8vFYbLqEaNePAe0hWndU/WNjZL9bTpTX9bqI4MFlsKqFzuaFjabvzqkCHNDTB7HabvAgbrEJdpYB5R+IC26U8F9H8dRB37YDf/9B7auJebB6xu/Y/RDqqeYv5a1tyqmT0JPaUxeom5+w0SqkS3pMHxr1PUiccwPkj57PnxVxau07FoX1i7J5Cmi5JfWZgw1olqIj9nglumE7rjK5hrsDcoR26naaZFxF/pNtuU3wAFr0M+Er+Quj7rpIY74ni2zYvYcWOwXA4lGgyyn6toQy6plUUSaJPrZCAU3gGPP0g9YUl4834bCO/jIa64/Ndg75wm/Vn1XvZ5bMBad1zFpjK0WwL8zTQnloEt+AQmCrRzxRFpQMBoV0225NTfccMzjCvdbTwSwmSKZ6cwOwAySTeGP0f/kmHaGRyG74/XCs8R0GkhAeOOMlTcsZ6ULEeHFxnV7LLmBnpgZRTJWApBf2Jw+dJFM0O9/NMTF089aWhok7TpQ=
  file: php7cc-analyser.phar
  on:
    repo: cwreden/php7cc-analyser
